*.RDS
*.rds
*.RData
*.h5ad
*.fasta
*.fq
*.fastq
*.gz
./build
./examples
./deps
./incremental
./Compile_release
.snakemake
./log
*.log
*.csv
.gitignore
.nextflow.log*
.nextflow
work
results
data-deliver
__pycache__
*_trace.txt%